docs/NovTurnAI AI.json
{
  "name": "NovTurnAI",
  "nodes": [
    {
      "parameters": {
        "tableId": "patient_phones",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Set Buffer Fields').item.json.phone }}"
            },
            {
              "fieldId": "is_primary",
              "fieldValue": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -22208,
        -7296
      ],
      "id": "b3b73497-8cef-48cd-9ef9-658aff96389e",
      "name": "Create Patient Phone",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -27472,
        -7376
      ],
      "id": "4389ed2e-6296-4016-b9b6-d2f58abdf3dc",
      "name": "WhatsApp Trigger",
      "webhookId": "fa17c924-44f6-405b-a5eb-550627bffdad",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "s9L5T4MrHLlXcBci",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patient_phones",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Set Buffer Fields').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -22784,
        -7392
      ],
      "id": "ef1017cd-57fe-4015-bc94-f4b38287a288",
      "name": "Get User",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f0b8782-92f2-43a8-bbd9-f9b67c785a35",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22592,
        -7392
      ],
      "id": "6f029658-a834-4d7e-94bb-051794c5d849",
      "name": "User Exists?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "patients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "fieldId": "display_name",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -22400,
        -7296
      ],
      "id": "e94e7bee-3c4b-4e52-ad22-377bba73bbcc",
      "name": "Create Patient",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Set Buffer Fields').item.json.message }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -21824,
        -7392
      ],
      "id": "5bf8fd16-0336-432b-a3da-fa3ca8d55d16",
      "name": "Add History",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -20256,
        -7776
      ],
      "id": "460b1bc4-3bf6-4346-ac46-830f27c7a589",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -20064,
        -7776
      ],
      "id": "fa55e5fd-4c54-46c5-8784-6553bee5afba",
      "name": "Limit"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "role,content",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -19872,
        -7776
      ],
      "id": "e0e5d56a-af12-4b98-a71b-6a371cf7cb2a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAc5t4ma4t4BQ5J6bjpqm5lKChJONXbZBP5XZAlGRONEUcdoQWTxRibguIHUQudYKeJpQsZAR8X9ZBQuRYwycoIZCv7VZB5PaBTeOzWGtjwefXbrZCcxHV3rZC6JXArO5jUGZBzuWUHOmSI80dhdtH4b5HHXTTpNMbEbYqGabZCBEoFzKVoOsNrkM6SEORhElOpQZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -26048,
        -7408
      ],
      "id": "da35ea1f-d58c-4e44-ab9f-2e6862c56ccc",
      "name": "HTTP Request Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3c95be8-0405-42fd-aff4-2f72b07bbc85",
              "name": "audioUrl",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.url }}",
              "type": "string"
            },
            {
              "id": "79e9080a-37ab-490c-8ed1-7247ee68a0df",
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "739c120d-d1b3-42a8-a816-162ef7d6dba2",
              "name": "mimeType",
              "value": "audio/ogg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -26240,
        -7408
      ],
      "id": "96620b51-ae88-4247-9fcd-55c15b2c26a9",
      "name": "Edit Fields Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe56fba6-0424-4c7a-a14a-def085d23ce0",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "305ac1a9-2fb6-4fcf-84b7-e52846ac55fb",
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -25664,
        -7408
      ],
      "id": "8a1fd5ac-84e5-467d-8242-4876181823a9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37af6523-c6a9-4018-b854-f23eb29ae969",
              "name": "message",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "02a4d8c7-8fce-4716-8ad4-6b39279f9907",
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -25856,
        -7600
      ],
      "id": "43ce2ab4-94f4-424e-a539-6169f1e82764",
      "name": "Edit Fields Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25472,
        -7424
      ],
      "id": "54344d37-250d-4f58-b8b2-cf0de5256411",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a3f89ba-45c7-4e77-9733-66440d8dc60e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "75e2bddf-994c-4a12-ae25-9129778cf1ab",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10ed7101-d803-42c9-b5c9-07b3da28a97a",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "button",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e97c483c-5f16-45fb-9c70-538a5c2557d0",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -26496,
        -7424
      ],
      "id": "18c72e85-07f0-4b48-b029-5bdae09617a7",
      "name": "Message Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -25856,
        -7408
      ],
      "id": "f699f25e-4054-4254-83ba-01773e104dc2",
      "name": "Transcribe Audio"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -25024,
        -7408
      ],
      "id": "2621b8a2-9df4-43f3-9206-37ac4befcc0a",
      "name": "Wait",
      "webhookId": "0fafd539-9e0b-4b7e-a5d0-9002e863b352"
    },
    {
      "parameters": {
        "tableId": "message_buffer",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].id }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -25216,
        -7408
      ],
      "id": "49f41954-bc80-45f5-a856-2467b6eb5bfe",
      "name": "Create Message Buffer",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "message_buffer",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $now.minus({seconds: 11}).toISO() }}"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -24832,
        -7408
      ],
      "id": "f2ccef03-2fcb-4ae4-9665-19817cc303ce",
      "name": "Get Message Buffer",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "message_buffer",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -23424,
        -7408
      ],
      "id": "b4e0dec5-be36-4a39-8922-c8b0e5583986",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "history",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $now.minus({hours: 3}).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20896,
        -7776
      ],
      "id": "fdca3c6e-c9b6-4d8c-b317-0124801d4a06",
      "name": "Get 3hs History",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Lo siento, solo puedo ayudarte con la gestión de turnos. ¿En qué puedo ayudarte?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -23600,
        -7200
      ],
      "id": "122fc74c-da4e-421f-875f-00e84964fceb",
      "name": "Response to Invalid Message",
      "webhookId": "f664ef07-85a9-48f5-84aa-9b4200f13cc3",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -27472,
        -6784
      ],
      "id": "9c85b88f-5ae2-49e7-81e6-d718ce31896b",
      "name": "Schedule Trigger T",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "date_start",
              "condition": "gt",
              "keyValue": "={{ $now.toISO() }}"
            },
            {
              "keyName": "date_start",
              "condition": "lt",
              "keyValue": "={{ $now.plus({hours: 24}).toISO() }}"
            },
            {
              "keyName": "notif_24hs",
              "condition": "eq",
              "keyValue": "false"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "scheduled"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -27088,
        -6784
      ],
      "id": "f85f05e4-3c5e-4b9c-846c-c320cb70ee19",
      "name": "Get Appointments to Reminder T",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Appointments to Reminder T').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notif_24hs",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -26704,
        -6784
      ],
      "id": "6e63918b-dddd-4ead-ba39-7de14b867f13",
      "name": "Update Reminder",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -26432,
        -6784
      ],
      "id": "d48c213c-5a29-4d12-acdf-763f04d723d0",
      "name": "Schedule Trigger F"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c525638-21b4-47b3-8990-345f1df0c0b7",
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -26240,
        -7216
      ],
      "id": "7bd15b87-44b3-44fd-be14-8efb5b8083c3",
      "name": "Edit Fields Reminder",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Reminder Confirmation').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "confirmed",
              "fieldValue": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -25856,
        -7216
      ],
      "id": "2468e5d4-6931-461c-8b2d-a2fea47f034a",
      "name": "Update Reminder Confirmation",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "scheduled"
            },
            {
              "keyName": "confirmed",
              "condition": "eq",
              "keyValue": false
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -26048,
        -7216
      ],
      "id": "b1b4eed7-43fe-493a-9500-14d7e5ad31f0",
      "name": "Get Reminder Confirmation",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Edit Fields Reminder').item.json.phone }}",
        "textBody": "=✅ ¡Turno confirmado! 🦷 Te esperamos el {{ DateTime.fromISO($('Get Reminder Confirmation').first().json.date_start).toFormat(\"cccc d 'de' MMMM 'a las' HH:mm\", { locale: 'es' }) }}hs. ¡Hasta pronto! 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -25664,
        -7216
      ],
      "id": "0e2c9a02-2c62-4de4-8ebc-a4929b14c551",
      "name": "Send Message Reminder Confirmation",
      "webhookId": "c63b200b-b5d5-4dba-910b-9008397d6b58",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "417d6c09-bf38-4a6e-90ee-174d3eb7b528",
              "leftValue": "={{ $json.isLast }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9f9b8569-2314-46f4-b9a8-dab307e73bf0",
              "leftValue": "={{ $json.esValido }}",
              "rightValue": "^[\\p{Emoji}\\s]+$",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -23616,
        -7408
      ],
      "id": "ba7feb2b-a57a-4fea-b241-3e04a42659f8",
      "name": "If Buffering Ok"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d299efb9-6ecb-40cd-a9ac-a017b0d724d8",
                    "leftValue": "={{ $json.saludoSimple }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo Simple"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "92bd969c-12d9-4dc5-ac0a-7f0268bc6c14",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -23040,
        -7408
      ],
      "id": "32012950-f03b-46b2-b363-6e54795a7fd8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=Hola, {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}! Bienvenido a {{ $('Get Business').first().json.name }}, ¿en qué puedo ayudarte? 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -23040,
        -7184
      ],
      "id": "f3444a4a-b070-4a4a-aa34-0efd7738fc8d",
      "name": "Send Simple Message",
      "webhookId": "5dc7d9df-27c3-427c-9df4-b1575fdb52d0",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada, detección de tipo y verificación de pago\nObtiene el negocio donde entra el mensaje, verifica si esta al día y detecta el tipo de mensaje entrante y lo enruta al flujo correspondiente",
        "height": 752,
        "width": 1238,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -27536,
        -7696
      ],
      "id": "a9cf6631-6094-4a12-8f9c-2bde849db9e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Procesamiento de mensaje y audio\nDescarga el audio de meta, lo transcribe con Groq Whisper y lo convierte a texto",
        "height": 752,
        "width": 982
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -26288,
        -7696
      ],
      "id": "4459a6ff-6f29-42de-a42e-a4cc245d8e26",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Message Buffering\n- Acumula mensajes múltiples enviados en menos de 10 segundos y los une en uno solo.\n- Filtra: emojis, insultos, spam",
        "height": 752,
        "width": 1622,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -25296,
        -7696
      ],
      "id": "e3df1829-e569-4b91-8d7f-dcb97c457f83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Filtros y Validación\nValida que el mensaje sea el último del buffer, no sea spam ni insulto, esté dentro del horario de atención y no sea un saludo simple, enviando mensajes al cliente sin necesidad de llegar a la IA optimizando los tokens consumidos.",
        "height": 752,
        "width": 836,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -23664,
        -7696
      ],
      "id": "9b3f1128-53cb-4206-9afb-6bf362ba07f1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Gestión de Usuarios\nVerifica si el usuario existe en la BD, si no existe lo crea.",
        "height": 752,
        "width": 1158
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -22816,
        -7696
      ],
      "id": "8f8864e3-2851-4429-b7ec-12c99a973d19",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Historial de conversación\nGuarda el mensaje del usuario en el historial y recupera las últimas 3 horas de conversación para darle contexto a la IA",
        "height": 304,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20304,
        -7888
      ],
      "id": "ecce0b41-7f3b-4725-9cd6-9e980945bf2d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agente de IA Salud",
        "height": 512,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19248,
        -8352
      ],
      "id": "e15ca166-8cb0-439a-ad92-955cd94dfd28",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Respuesta y cierre\nEnvía la respuesta al usuario por WhatsApp y guarda la respuesta de la IA en el historial",
        "height": 512,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18080,
        -8352
      ],
      "id": "c83fbb57-0d00-414f-a7d1-7ba6c374c9f9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Cancelación Automática\nCancela automáticamente los turnos que no fueron confirmados dentro de las 2 horas previas al turno",
        "height": 400,
        "width": 1014,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -26496,
        -6928
      ],
      "id": "3dfa8530-9d05-427f-8adc-d54b79358f2f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Recordatorios\nCada hora verifica turnos del día siguiente y envía recordatorio pidiendo confirmación",
        "height": 400,
        "width": 1024,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -27536,
        -6928
      ],
      "id": "73d9e87d-9344-4314-abec-e2189ccdfafe",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -25664,
        -6784
      ],
      "id": "50532926-ae37-4587-ab69-7a38f43aa2a1",
      "name": "Update Cancel Appointment",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            },
            {
              "keyName": "notif_24hs",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "date_start",
              "condition": "gte",
              "keyValue": "={{ $now.plus({hours: 1}).toISO() }}"
            },
            {
              "keyName": "date_start",
              "condition": "lte",
              "keyValue": "={{ $now.plus({hours: 2}).toISO() }}"
            },
            {
              "keyName": "confirmed",
              "condition": "eq",
              "keyValue": "false"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -25856,
        -6784
      ],
      "id": "b05bcdb0-acdf-4d82-81d8-6c71566c1fe6",
      "name": "Get Appointments to Reminder F",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Get Business T').first().json.phone_number_id + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer EAAc5t4ma4t4BQ5J6bjpqm5lKChJONXbZBP5XZAlGRONEUcdoQWTxRibguIHUQudYKeJpQsZAR8X9ZBQuRYwycoIZCv7VZB5PaBTeOzWGtjwefXbrZCcxHV3rZC6JXArO5jUGZBzuWUHOmSI80dhdtH4b5HHXTTpNMbEbYqGabZCBEoFzKVoOsNrkM6SEORhElOpQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.user_id }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"aireminder\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ DateTime.fromISO($json.date_start).setZone('America/Guatemala').toFormat('cccc d \\'de\\' MMMM', { locale: 'es' }) }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ DateTime.fromISO($json.date_start).setZone('America/Guatemala').toFormat('HH:mm') }}hs\"\n          }\n        ]\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"quick_reply\",\n        \"index\": \"0\",\n        \"parameters\": [\n          {\n            \"type\": \"payload\",\n            \"payload\": \"Confirmo\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26896,
        -6784
      ],
      "id": "77f72ada-84b7-4289-b53d-5923b13d4659",
      "name": "Send Template Reminder",
      "webhookId": "f659beff-ca12-47e7-b475-c1843a3e4488",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -22016,
        -7392
      ],
      "id": "afb95e4f-f104-44ce-8114-433501d39069",
      "name": "Merge User"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ht-condition-001",
              "leftValue": "={{ $json.human_takeover }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22208,
        -7504
      ],
      "id": "0c236c3a-7cb3-4bf9-ac98-241586dc5782",
      "name": "Human Takeover?"
    },
    {
      "parameters": {
        "tableId": "history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Set Buffer Fields').item.json.message }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -21968,
        -7600
      ],
      "id": "905a81a8-df35-4e86-8dff-6d010c5afcef",
      "name": "Save Message Handoff",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "human_takeover",
              "fieldValue": true
            },
            {
              "fieldId": "handoff_reason",
              "fieldValue": "={{ $('Text Classifier S').item.json.category }}"
            },
            {
              "fieldId": "handoff_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20512,
        -7392
      ],
      "id": "e10b4144-d136-4d60-aee1-b135a0bc4f1c",
      "name": "Activate Handoff",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gestión de Emergencias según Sectores\nVerifica el tipo de negocio y clasifica emergencias según sectores del negocio para una emergencia mas personalizada",
        "height": 1248,
        "width": 1322,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -21632,
        -7920
      ],
      "id": "7d262a1e-b3c8-4c94-b11a-fd8cfcbb8cc9",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -19008,
        -8032
      ],
      "id": "defeb05d-2a8e-4f0f-af30-bed6df083148",
      "name": "AI Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -21232,
        -7584
      ],
      "id": "5a9ac57c-80f8-4f2a-b7e5-0181ae006a56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -24640,
        -7408
      ],
      "id": "bfad5907-45e1-4096-844f-f10fec691b5a",
      "name": "Sort Buffer"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "phone,message,id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -24448,
        -7408
      ],
      "id": "108ec544-9f57-4506-a1ff-b3f549f77e91",
      "name": "Aggregate Buffer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sb-001",
              "name": "phone",
              "value": "={{ $json.data[0].phone }}",
              "type": "string"
            },
            {
              "id": "sb-002",
              "name": "message",
              "value": "={{ $json.data.map(i => i.message).join(' ').trim() }}",
              "type": "string"
            },
            {
              "id": "sb-003",
              "name": "maxId",
              "value": "={{ Math.max(...$json.data.map(i => i.id)) }}",
              "type": "number"
            },
            {
              "id": "sb-004",
              "name": "currentId",
              "value": "={{ $json.data[$json.data.length - 1].id }}",
              "type": "number"
            },
            {
              "id": "sb-005",
              "name": "isLast",
              "value": "={{ $json.data[$json.data.length - 1].id === Math.max(...$json.data.map(i => i.id)) }}",
              "type": "boolean"
            },
            {
              "id": "sb-006",
              "name": "saludoSimple",
              "value": "={{ /^(hola|hi|hey|buenas|buen dia|buenos dias|buenas tardes|buenas noches|alo|hello)[\\s!.]*$/i.test($json.data.map(i => i.message).join(' ').trim()) }}",
              "type": "boolean"
            },
            {
              "id": "sb-007",
              "name": "esValido",
              "value": "={{ !/^[\\u{1F000}-\\u{1FFFF}\\u{2600}-\\u{27FF}\\u{2300}-\\u{23FF}\\u{2B00}-\\u{2BFF}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FAFF}\\u{FE00}-\\u{FEFF}\\s]+$/u.test($json.data.map(i => i.message).join(' ').trim()) && !/mierda|puta|idiota|estupido|imbecil|pendejo|cabron|chinga|verga|perra/i.test($json.data.map(i => i.message).join(' ').trim()) && !/^(.)\\1+$/.test($json.data.map(i => i.message).join(' ').trim()) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24256,
        -7408
      ],
      "id": "25bacec6-acf1-4cb3-9c67-c79279ba93e2",
      "name": "Set Buffer Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sfs-001",
              "name": "phone",
              "value": "={{ $('Set Buffer Fields').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "sfs-002",
              "name": "message",
              "value": "={{ $('Set Buffer Fields').first().json.message }}",
              "type": "string"
            },
            {
              "id": "sfs-003",
              "name": "saludoSimple",
              "value": "={{ $('Set Buffer Fields').first().json.saludoSimple }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -23232,
        -7408
      ],
      "id": "e6a1c9a2-cae0-4572-a7f3-6938152f3682",
      "name": "Set Switch Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "shf-001",
              "name": "history",
              "value": "={{ $input.first().json.data.map(m => (m.role === 'assistant' ? 'A' : 'U') + ': ' + (m.content && m.content.length > 250 ? m.content.substring(0, 250) + '...' : (m.content || '').trim())).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -19680,
        -7776
      ],
      "id": "8ef7109f-2ade-412e-81cc-00b4d5c58d6a",
      "name": "Set History Format"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -25408,
        -6784
      ],
      "id": "aec91c5e-0e0b-4e25-9781-68fdc88b1fd0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "businesses",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number_id",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -27280,
        -7376
      ],
      "id": "21ca7ee4-951d-48d2-9bb8-6042f3b14bbb",
      "name": "Get Business",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=Lamentamos que hayas tenido una mala experiencia 😔 He notificado al doctor sobre tu situación y se pondrá en contacto contigo a la brevedad para resolverlo. Tu satisfacción es muy importante para nosotros.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20896,
        -7392
      ],
      "id": "63c40d83-397d-42e4-bc93-44790c7aa68c",
      "name": "Response Queja",
      "webhookId": "16099534-d1a8-40f4-9664-b4c0fb157ee4",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=¡Por supuesto! 😊 He notificado al equipo y en breve alguien te atenderá personalmente. Gracias por tu paciencia.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20896,
        -7008
      ],
      "id": "c9e59b81-6697-43c9-b970-44fcc0ceab42",
      "name": "Response Pide Humano",
      "webhookId": "fa88c759-77aa-4c92-a554-d36c5694c4df",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "businesses",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "is",
              "keyValue": "=true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -27280,
        -6784
      ],
      "id": "569eb4a9-e6eb-47ee-b865-bbc7d02ff439",
      "name": "Get Business T",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "businesses",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -26240,
        -6784
      ],
      "id": "66fef2c6-8347-4b3f-8648-579bc5a30728",
      "name": "Get Business F",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mantenimiento Supabase Inactividad\nPing para mantener activo el workflow y no se desactive dentro de supabase",
        "height": 400,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -25472,
        -6928
      ],
      "id": "9d51b38f-1d95-409c-a4ce-362135ca7d7c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "hm-001",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "hm-002",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -26688,
        -7376
      ],
      "id": "a815768f-343f-4035-ab79-4cb0d7bb76c7",
      "name": "Has Message?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get User').first().json.patient_id }}"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -22400,
        -7504
      ],
      "id": "553548d8-7426-45a5-be60-cbcfb42dc135",
      "name": "Get Patient Data",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Este servicio está temporalmente pausado. Para más información contacta a NovTurnAI.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -26896,
        -7168
      ],
      "id": "de9857cc-8cb5-4d39-a4f1-c01899469cce",
      "name": "Send message inactive",
      "webhookId": "226d80cd-5f23-4e83-969a-b57bb5bd1d38",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "40e85503-fd84-487e-941c-f93e86cb0b50",
              "leftValue": "={{ $('Get Business').first().json.plan !== null && $('Get Business').first().json.active === true && ($('Get Business').first().json.plan_expires_at === null || DateTime.fromISO($('Get Business').first().json.plan_expires_at) > DateTime.now()) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -26896,
        -7376
      ],
      "id": "b8558a13-3030-4592-bbdf-c8b940ed6a0f",
      "name": "They pay?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "df6b47b1-c86a-4d65-909d-1f0b96f6174d",
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "salud",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salud y Bienestar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f05d0f1-60f2-4257-b15e-2216a9a486fe",
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "belleza",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Belleza y Estética"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2348982b-6373-42ef-b251-8832e6746253",
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "otro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Otro"
            }
          ]
        },
        "options": {
          "fallbackOutput": "=Servicio en configuración"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -21568,
        -7408
      ],
      "id": "896f0490-d69a-4e06-ae75-cadd4b44e82b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -21232,
        -7200
      ],
      "id": "8be42ae1-d849-4bac-b865-54f44b54cc7d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=🚨 Entiendo que estás teniendo una urgencia dental. He notificado al doctor de inmediato y se pondrá en contacto contigo a la brevedad. Si el dolor es muy intenso, puedes dirigirte directamente a la clínica. 🦷",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20896,
        -7584
      ],
      "id": "14355188-588c-4b2f-8922-e565d01dec3f",
      "name": "Response Emergencia",
      "webhookId": "85cf6fd2-d420-408e-b17e-7b89514b42a5",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=Hemos notificado al equipo sobre tu solicitud de servicio a domicilio. En breve te contactarán para coordinar. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20896,
        -7200
      ],
      "id": "bd5cb8b1-7a7d-45e9-bca5-6cecfa77daa2",
      "name": "Response Domicilio",
      "webhookId": "85cf6fd2-d420-408e-b17e-7b89514b42a5",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "salud",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "22b2758b-f042-49bd-a4ef-caf7a8bfafe4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salud y Bienestar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb2d7a89-f8be-48c3-860d-12f5d04d805d",
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "belleza",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Belleza y Estética"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "437bc5b3-5e28-468e-9002-8a2db6c5c72e",
                    "leftValue": "={{ $('Get Business').first().json.business_type }}",
                    "rightValue": "otro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OTRO"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -19488,
        -7792
      ],
      "id": "d2c458a1-4019-446c-a6f5-2833c4d094c6",
      "name": "Switch2"
    },
    {
      "parameters": {
        "content": "## Agente de IA Belleza",
        "height": 512,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19248,
        -7824
      ],
      "id": "cb565599-4d78-4bb4-9846-272085f8519a",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Respuesta y cierre\nEnvía la respuesta al usuario por WhatsApp y guarda la respuesta de la IA en el historial",
        "height": 512,
        "width": 502,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18080,
        -7824
      ],
      "id": "a5b80a4c-e5ca-41b2-a67a-1d002cde0e86",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -19008,
        -7504
      ],
      "id": "6a2bb76c-9d1b-4fb0-b991-51953f773cb3",
      "name": "AI Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente de IA Otro",
        "height": 512,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19248,
        -7296
      ],
      "id": "61e44aef-b654-43fa-9d48-d2e5ffa06bec",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Respuesta y cierre\nEnvía la respuesta al usuario por WhatsApp y guarda la respuesta de la IA en el historial",
        "height": 512,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18080,
        -7296
      ],
      "id": "c0fb2487-3f87-40dc-a342-9b3105ebf7b1",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -19008,
        -6976
      ],
      "id": "1c6f6b49-bc16-49a7-901d-547353d87681",
      "name": "AI Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Buffer Fields').item.json.message }}",
        "options": {
          "systemMessage": "=Bot de {{ $('Get Business').first().json.name }}. Español, amigable, conciso.\nHORARIO: {{ $('Get Business').first().json.schedule_days }} de {{ $('Get Business').first().json.schedule_start }}:00 a {{ $('Get Business').first().json.schedule_end }}:00hs. Atención WhatsApp: 24/7.\nINSTRUCCIONES DEL NEGOCIO: {{ $('Get Business').first().json.custom_prompt }}\nHISTORIAL: El último U: es la solicitud actual. Si el usuario ya eligió servicio, NO volver a preguntar.\n\nFLUJOS:\nINFO: Si pregunta servicios sin agendar → Get Services → listar con • y duración. Fin: '¿Agendamos? 📅'\nCREAR:\n1. Sin servicio en historial → Get Services → '¿Qué servicio? 😊\\n• [servicio]'. Solo mode=auto. mode=eval al final. Max 10.\n2. mode=eval → informar consulta previa 30min → agendar 'Consulta de evaluación' si acepta.\n3. mode=human → 'El profesional te contactará pronto 😊' STOP.\n4. mode=auto → preguntar día → Get Day Appointments → slots libres considerando duration_minutes → 3 opciones → confirmar → Create Event (date_end=date_start+duration_minutes).\nCANCELAR: Get User Appointment → Update (cancelled).\nCONSULTAR: Get User Appointment → informar.\nMODIFICAR: cancelar → crear.\n\nREGLAS:\n- Disponibilidad: Get Day Appointments. NUNCA Get User Appointment para slots.\n- Fechas: 2025-03-20T09:00:00-06:00. SIEMPRE -06:00.\n- Confirmar servicio+fecha+hora antes de crear.\n- Cada tool: 1 vez máximo.\n- Atraso: '¡No hay problema! Te esperamos 😊'\n- Respuestas: máx 2 oraciones. Bullets solo en listas de servicios.\n\nHOY: {{ $now.setZone('America/Guatemala').toFormat(\"EEEE d 'de' MMMM 'de' yyyy\") }}\nID: {{ $('Set Buffer Fields').item.json.phone }}\n\nHISTORIAL:\n{{ $json.history }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -18784,
        -8304
      ],
      "id": "0d8ad3a0-94fa-4f12-a982-443374bc72c5",
      "name": "AI Agent Salud",
      "notesInFlow": false,
      "onError": "continueErrorOutput",
      "notes": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Buffer Fields').item.json.message }}",
        "options": {
          "systemMessage": "=Bot de {{ $('Get Business').first().json.name }}. Español, amigable, conciso.\nHORARIO: {{ $('Get Business').first().json.schedule_days }} de {{ $('Get Business').first().json.schedule_start }}:00 a {{ $('Get Business').first().json.schedule_end }}:00hs. Atención WhatsApp: 24/7.\nINSTRUCCIONES DEL NEGOCIO: {{ $('Get Business').first().json.custom_prompt }}\nHISTORIAL: El último U: es la solicitud actual. Si el usuario ya eligió servicio, NO volver a preguntar.\n\nFLUJOS:\nINFO: Si pregunta servicios sin agendar → Get Services → listar con • y duración. Fin: '¿Agendamos? 📅'\nCREAR:\n1. Sin servicio en historial → Get Services → '¿Qué servicio? 😊\\n• [servicio]'. Solo mode=auto. mode=eval al final. Max 10.\n2. mode=eval → informar que requiere evaluación previa → agendar 'Consulta de evaluación' si acepta.\n3. mode=human → 'El equipo te contactará pronto 😊' STOP.\n4. mode=auto → preguntar día → Get Day Appointments → slots libres considerando duration_minutes → 3 opciones → confirmar → Create Event (date_end=date_start+duration_minutes).\nCANCELAR: Get User Appointment → Update (cancelled).\nCONSULTAR: Get User Appointment → informar.\nMODIFICAR: cancelar → crear.\n\nREGLAS:\n- Disponibilidad: Get Day Appointments. NUNCA Get User Appointment para slots.\n- Fechas: 2025-03-20T09:00:00-06:00. SIEMPRE -06:00.\n- Confirmar servicio+fecha+hora antes de crear.\n- Cada tool: 1 vez máximo.\n- Atraso: '¡No hay problema! Te esperamos 😊'\n- Respuestas: máx 2 oraciones. Bullets solo en listas de servicios.\n\nHOY: {{ $now.setZone('America/Guatemala').toFormat(\"EEEE d 'de' MMMM 'de' yyyy\") }}\nID: {{ $('Set Buffer Fields').item.json.phone }}\n\nHISTORIAL:\n{{ $json.history }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -18784,
        -7776
      ],
      "id": "d650e3fd-05c5-4435-b246-04b2c69e0a6e",
      "name": "AI Agent Belleza",
      "onError": "continueErrorOutput",
      "notes": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Buffer Fields').item.json.message }}",
        "options": {
          "systemMessage": "=Bot de {{ $('Get Business').first().json.name }}. Español, amigable, conciso.\nHORARIO: {{ $('Get Business').first().json.schedule_days }} de {{ $('Get Business').first().json.schedule_start }}:00 a {{ $('Get Business').first().json.schedule_end }}:00hs. Atención WhatsApp: 24/7.\nINSTRUCCIONES DEL NEGOCIO: {{ $('Get Business').first().json.custom_prompt }}\nHISTORIAL: El último U: es la solicitud actual. Si el usuario ya eligió servicio, NO volver a preguntar.\n\nFLUJOS:\nINFO: Si pregunta servicios sin agendar → Get Services → listar con • y duración. Fin: '¿Agendamos? 📅'\nCREAR:\n1. Sin servicio en historial → Get Services → '¿Qué servicio? 😊\\n• [servicio]'. Solo mode=auto. mode=eval al final. Max 10.\n2. mode=eval → informar que requiere evaluación previa → agendar 'Consulta de evaluación' si acepta.\n3. mode=human → 'El responsable te contactará pronto 😊' STOP.\n4. mode=auto → preguntar día → Get Day Appointments → slots libres considerando duration_minutes → 3 opciones → confirmar → Create Event (date_end=date_start+duration_minutes).\nCANCELAR: Get User Appointment → Update (cancelled).\nCONSULTAR: Get User Appointment → informar.\nMODIFICAR: cancelar → crear.\n\nREGLAS:\n- Disponibilidad: Get Day Appointments. NUNCA Get User Appointment para slots.\n- Fechas: 2025-03-20T09:00:00-06:00. SIEMPRE -06:00.\n- Confirmar servicio+fecha+hora antes de crear.\n- Cada tool: 1 vez máximo.\n- Atraso: '¡No hay problema! Te esperamos 😊'\n- Respuestas: máx 2 oraciones. Bullets solo en listas de servicios.\n\nHOY: {{ $now.setZone('America/Guatemala').toFormat(\"EEEE d 'de' MMMM 'de' yyyy\") }}\nID: {{ $('Set Buffer Fields').item.json.phone }}\n\nHISTORIAL:\n{{ $json.history }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -18784,
        -7248
      ],
      "id": "ebf803c0-613f-42b1-a603-d352800f4e46",
      "name": "AI Agent Otro",
      "onError": "continueErrorOutput",
      "notes": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Turnos activos del negocio en un día. Usar SIEMPRE para disponibilidad antes de crear.\nParámetro date_start_range y date_end_range: YYYY-MM-DD ej: 2025-03-20.\nLun-Vie únicamente.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "date_start",
              "condition": "gte",
              "keyValue": "={{ $fromAI('date_start_range', 'Fecha YYYY-MM-DD ej: 2025-03-25', 'string') + 'T00:00:00-06:00' }}"
            },
            {
              "keyName": "date_start",
              "condition": "lt",
              "keyValue": "={{ $fromAI('date_end_range', 'Misma fecha que date_start_range en YYYY-MM-DD', 'string') + 'T23:59:59-06:00' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18864,
        -8032
      ],
      "id": "8369ab9d-2a21-4df6-a93a-0caffc3f624b",
      "name": "Get Day Appointments S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Lista los servicios del negocio. Llamar solo si el usuario no ha mencionado servicio en el historial.\nDevuelve: id, name, duration_minutes, mode (auto/eval/human).",
        "operation": "getAll",
        "tableId": "services",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18720,
        -8032
      ],
      "id": "c7e929e0-249f-4c6f-b51e-9f4c28d0ffb1",
      "name": "Get Services S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Trae los turnos activos DEL USUARIO ACTUAL desde Supabase.\nUsar SOLO para: cancelar, modificar o consultar turnos del paciente.\nNO usar para calcular disponibilidad — usar Get Day Appointments para eso.\nLos turnos activos tienen status 'scheduled' o 'confirmed'.\nDevuelve: id, patient_id, date_start, date_end, status.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18576,
        -8032
      ],
      "id": "16ded1ff-7996-439b-a261-463db8c07af4",
      "name": "Get User Appointment S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela un turno en Supabase por id numérico, cambiando su status a 'cancelled'.\nObtener el id SIEMPRE desde Get Appointments, nunca inventarlo.",
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('appointment_id', 'ID numérico entero del turno en Supabase, ejemplo: 5', 'number') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18432,
        -8032
      ],
      "id": "adab453d-f37c-4cb4-ae86-751e4c100331",
      "name": "Update Event Appointment S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea el turno en Supabase. Llamar UNA SOLA VEZ tras confirmar con el paciente.\ndate_start y date_end: ISO con offset Guatemala -06:00. ej: 2025-03-20T09:00:00-06:00\ndate_end = date_start + duration_minutes del servicio.\nservice_id: ID numérico del servicio obtenido desde Get Services.\nstatus se guarda como scheduled automáticamente.",
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "bot"
            },
            {
              "fieldId": "status",
              "fieldValue": "scheduled"
            },
            {
              "fieldId": "date_start",
              "fieldValue": "={{ $fromAI('date_start', 'Hora local Guatemala formato ISO 24h. 1pm=T13:00:00-06:00, 3pm=T15:00:00-06:00. SIEMPRE -06:00 NUNCA +00:00', 'string') }}"
            },
            {
              "fieldId": "date_end",
              "fieldValue": "={{ $fromAI('date_end', 'Hora fin = date_start + duration_minutes del servicio. Si servicio dura 60min y empieza T09:00:00-06:00 termina T10:00:00-06:00. SIEMPRE -06:00', 'string') }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "fieldId": "service_id",
              "fieldValue": "={{ $fromAI('service_id', 'ID numérico del servicio obtenido desde Get Services', 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18288,
        -8032
      ],
      "id": "8dd61876-f6e3-4326-bbf4-ad87b934fe94",
      "name": "Create Event Appointment S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Turnos activos del negocio en un día. Usar SIEMPRE para disponibilidad antes de crear.\nParámetro date_start_range y date_end_range: YYYY-MM-DD ej: 2025-03-20.\nLun-Vie únicamente.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "date_start",
              "condition": "gte",
              "keyValue": "={{ $fromAI('date_start_range', 'Fecha YYYY-MM-DD ej: 2025-03-25', 'string') + 'T00:00:00-06:00' }}"
            },
            {
              "keyName": "date_start",
              "condition": "lt",
              "keyValue": "={{ $fromAI('date_end_range', 'Misma fecha que date_start_range en YYYY-MM-DD', 'string') + 'T23:59:59-06:00' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18864,
        -7504
      ],
      "id": "1133064a-1ec0-40af-b4d9-5751f833a201",
      "name": "Get Day Appointments B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Lista los servicios del negocio. Llamar solo si el usuario no ha mencionado servicio en el historial.\nDevuelve: id, name, duration_minutes, mode (auto/eval/human).",
        "operation": "getAll",
        "tableId": "services",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18720,
        -7504
      ],
      "id": "09095b36-5fee-4bc8-b39a-781ef91e1be7",
      "name": "Get Services B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Trae los turnos activos DEL USUARIO ACTUAL desde Supabase.\nUsar SOLO para: cancelar, modificar o consultar turnos del paciente.\nNO usar para calcular disponibilidad — usar Get Day Appointments para eso.\nLos turnos activos tienen status 'scheduled' o 'confirmed'.\nDevuelve: id, patient_id, date_start, date_end, status.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18576,
        -7504
      ],
      "id": "64f37ebb-93f8-43ee-9f2c-03f88ffcd077",
      "name": "Get User Appointment B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela un turno en Supabase por id numérico, cambiando su status a 'cancelled'.\nObtener el id SIEMPRE desde Get Appointments, nunca inventarlo.",
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('appointment_id', 'ID numérico entero del turno en Supabase, ejemplo: 5', 'number') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18432,
        -7504
      ],
      "id": "0f72c4bf-e5f2-410b-a135-d031927ae226",
      "name": "Update Event Appointment B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea el turno en Supabase. Llamar UNA SOLA VEZ tras confirmar con el paciente.\ndate_start y date_end: ISO con offset Guatemala -06:00. ej: 2025-03-20T09:00:00-06:00\ndate_end = date_start + duration_minutes del servicio.\nservice_id: ID numérico del servicio obtenido desde Get Services.\nstatus se guarda como scheduled automáticamente.",
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "bot"
            },
            {
              "fieldId": "status",
              "fieldValue": "scheduled"
            },
            {
              "fieldId": "date_start",
              "fieldValue": "={{ $fromAI('date_start', 'Hora local Guatemala formato ISO 24h. 1pm=T13:00:00-06:00, 3pm=T15:00:00-06:00. SIEMPRE -06:00 NUNCA +00:00', 'string') }}"
            },
            {
              "fieldId": "date_end",
              "fieldValue": "={{ $fromAI('date_end', 'Hora fin = date_start + duration_minutes del servicio. Si servicio dura 60min y empieza T09:00:00-06:00 termina T10:00:00-06:00. SIEMPRE -06:00', 'string') }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "fieldId": "service_id",
              "fieldValue": "={{ $fromAI('service_id', 'ID numérico del servicio obtenido desde Get Services', 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18288,
        -7504
      ],
      "id": "be31adf9-f10b-46d7-a16d-94eca615ba51",
      "name": "Create Event Appointment B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Turnos activos del negocio en un día. Usar SIEMPRE para disponibilidad antes de crear.\nParámetro date_start_range y date_end_range: YYYY-MM-DD ej: 2025-03-20.\nLun-Vie únicamente.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "date_start",
              "condition": "gte",
              "keyValue": "={{ $fromAI('date_start_range', 'Fecha YYYY-MM-DD ej: 2025-03-25', 'string') + 'T00:00:00-06:00' }}"
            },
            {
              "keyName": "date_start",
              "condition": "lt",
              "keyValue": "={{ $fromAI('date_end_range', 'Misma fecha que date_start_range en YYYY-MM-DD', 'string') + 'T23:59:59-06:00' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18864,
        -6976
      ],
      "id": "04259b2c-82e1-46f1-96dc-66eaea962086",
      "name": "Get Day Appointments O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Lista los servicios del negocio. Llamar solo si el usuario no ha mencionado servicio en el historial.\nDevuelve: id, name, duration_minutes, mode (auto/eval/human).",
        "operation": "getAll",
        "tableId": "services",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18720,
        -6976
      ],
      "id": "be7a8bca-e609-4afa-8318-dca6b4c3f286",
      "name": "Get Services O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Trae los turnos activos DEL USUARIO ACTUAL desde Supabase.\nUsar SOLO para: cancelar, modificar o consultar turnos del paciente.\nNO usar para calcular disponibilidad — usar Get Day Appointments para eso.\nLos turnos activos tienen status 'scheduled' o 'confirmed'.\nDevuelve: id, patient_id, date_start, date_end, status.",
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "business_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18576,
        -6976
      ],
      "id": "10ac1065-96ab-4855-b627-c87129e7a93a",
      "name": "Get User Appointment O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela un turno en Supabase por id numérico, cambiando su status a 'cancelled'.\nObtener el id SIEMPRE desde Get Appointments, nunca inventarlo.",
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('appointment_id', 'ID numérico entero del turno en Supabase, ejemplo: 5', 'number') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18432,
        -6976
      ],
      "id": "251b825b-6e75-4982-820c-d09c9d3d98ce",
      "name": "Update Event Appointment O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea el turno en Supabase. Llamar UNA SOLA VEZ tras confirmar con el paciente.\ndate_start y date_end: ISO con offset Guatemala -06:00. ej: 2025-03-20T09:00:00-06:00\ndate_end = date_start + duration_minutes del servicio.\nservice_id: ID numérico del servicio obtenido desde Get Services.\nstatus se guarda como scheduled automáticamente.",
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "bot"
            },
            {
              "fieldId": "status",
              "fieldValue": "scheduled"
            },
            {
              "fieldId": "date_start",
              "fieldValue": "={{ $fromAI('date_start', 'Hora local Guatemala formato ISO 24h. 1pm=T13:00:00-06:00, 3pm=T15:00:00-06:00. SIEMPRE -06:00 NUNCA +00:00', 'string') }}"
            },
            {
              "fieldId": "date_end",
              "fieldValue": "={{ $fromAI('date_end', 'Hora fin = date_start + duration_minutes del servicio. Si servicio dura 60min y empieza T09:00:00-06:00 termina T10:00:00-06:00. SIEMPRE -06:00', 'string') }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            },
            {
              "fieldId": "service_id",
              "fieldValue": "={{ $fromAI('service_id', 'ID numérico del servicio obtenido desde Get Services', 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -18288,
        -6976
      ],
      "id": "de1175f9-6557-42f5-9985-49733e80d745",
      "name": "Create Event Appointment O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent Otro').first().json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -17808,
        -7152
      ],
      "id": "b9ab6dda-9d8b-4b7a-87a8-eb6364f47b67",
      "name": "Add History Response O",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -7152
      ],
      "id": "ed12f26e-f35e-4f6f-a1fa-245f48dbbda3",
      "name": "Response O",
      "webhookId": "1075284f-1e1e-4513-a962-570fecb49e97",
      "alwaysOutputData": false,
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -7680
      ],
      "id": "dc0b8d07-48dd-4183-b8e9-e04f3936a216",
      "name": "Response B",
      "webhookId": "1075284f-1e1e-4513-a962-570fecb49e97",
      "alwaysOutputData": false,
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent Belleza').first().json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -17808,
        -7680
      ],
      "id": "18e11a54-a2e1-473e-b73d-ac901f63b6a2",
      "name": "Add History Response B",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -8208
      ],
      "id": "f185dadc-19ad-4054-b4ac-37b002461208",
      "name": "Response S",
      "webhookId": "1075284f-1e1e-4513-a962-570fecb49e97",
      "alwaysOutputData": false,
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $if($('Get Patient Data').isExecuted, $('Get Patient Data').first().json.id, $('Create Patient').first().json.id) }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent Salud').first().json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "business_id",
              "fieldValue": "={{ $('Get Business').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -17808,
        -8208
      ],
      "id": "6431fdf7-55b6-4206-9974-2d57663e146e",
      "name": "Add History Response S",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -21232,
        -6848
      ],
      "id": "061dcc0e-bd0b-4bab-a19d-131fe98e0fb0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RfYrZ3I3jBzhUTOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -6992
      ],
      "id": "8c98039e-b665-409e-a7ce-a754cbd02cb9",
      "name": "Response Error O",
      "webhookId": "1f874bd1-a1e2-4cab-9739-94c215e1f72e",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -7520
      ],
      "id": "1f608944-f3e4-473e-9970-8a153720243b",
      "name": "Response Error B",
      "webhookId": "1f874bd1-a1e2-4cab-9739-94c215e1f72e",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Estamos con problemas técnicos en este momento. Por favor intenta en unos minutos. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -18000,
        -8016
      ],
      "id": "6f290d16-9795-41fc-a5a5-c187a12f8a1d",
      "name": "Response Error S",
      "webhookId": "1f874bd1-a1e2-4cab-9739-94c215e1f72e",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "businesses",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "plan",
              "condition": "neq",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -25216,
        -6784
      ],
      "id": "31b578f5-e034-4a59-a1f6-7e51faa3877f",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "rnaGkhqLrurmI4oa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -26048,
        -6784
      ],
      "id": "2fbd841b-d9c9-49a8-b10e-6b45517ec6c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88aa4050-90b7-46a8-95a1-d7d15873ac55",
              "leftValue": "={{ $json }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -23872,
        -7408
      ],
      "id": "9fc87b3e-18a1-43a0-a121-cfeddc10b691",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Has alcanzado el límite de mensajes por hora. Por favor intenta más tarde. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -23872,
        -7200
      ],
      "id": "3acf14b1-8f74-463a-b74b-69159a079886",
      "name": "Response API Limit Range",
      "webhookId": "f664ef07-85a9-48f5-84aa-9b4200f13cc3",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scjvhrzdlnwktzcejrgl.supabase.co/rest/v1/rpc/check_rate_limit",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3cGFhcWRra2x3d2ZzbGhrcXBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMjQ4NTcsImV4cCI6MjA4OTcwMDg1N30.kFj6mkOspwYB8bxn6NxAcRhdHt2IAq5g-LAoabX2mUk\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3cGFhcWRra2x3d2ZzbGhrcXBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMjQ4NTcsImV4cCI6MjA4OTcwMDg1N30.kFj6mkOspwYB8bxn6NxAcRhdHt2IAq5g-LAoabX2mUk\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_key\": \"={{ $('Set Buffer Fields').item.json.phone + '_' + $('Get Business').first().json.id }}\",\n  \"p_window_start\": \"={{ $now.startOf('hour').toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -24064,
        -7408
      ],
      "id": "f860194b-bcd8-4dd7-91ca-3e9c5c940ba1",
      "name": "Supabase Request API LR",
      "disabled": true
    },
    {
      "parameters": {
        "inputText": "={{ $('Set Buffer Fields').item.json.message }}",
        "categories": {
          "categories": [
            {
              "category": "CITAS",
              "description": "El cliente quiere agendar, cancelar, consultar o modificar una cita o servicio. También incluye saludos, preguntas de precio, horario o disponibilidad. CATEGORÍA POR DEFECTO — cualquier mensaje que no encaje en otra categoría va aquí."
            },
            {
              "category": "URGENCIA",
              "description": "Situación que no puede esperar y requiere atención inmediata del responsable del negocio. Solo si es genuinamente urgente."
            },
            {
              "category": "QUEJA",
              "description": "Insatisfacción explícita con el servicio, el trato recibido o el bot."
            },
            {
              "category": "PIDE_HUMANO",
              "description": "Pide hablar explícitamente con el responsable, dueño o una persona directamente."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -21312,
        -7056
      ],
      "id": "43484266-ddf4-4329-a702-5599bfe120b1",
      "name": "Text Classifier O"
    },
    {
      "parameters": {
        "inputText": "={{ $('Set Buffer Fields').item.json.message }}",
        "categories": {
          "categories": [
            {
              "category": "CITAS",
              "description": "El cliente quiere agendar, cancelar, consultar o modificar un turno. También incluye saludos, preguntas de precio, horario o disponibilidad de servicios. CATEGORÍA POR DEFECTO."
            },
            {
              "category": "URGENCIA",
              "description": "Situación que requiere atención inmediata del dueño o profesional. No incluye emergencias médicas — solo situaciones urgentes del negocio como un problema con un servicio recibido que no puede esperar."
            },
            {
              "category": "QUEJA",
              "description": "Insatisfacción explícita con el servicio, el resultado, el trato recibido o el bot."
            },
            {
              "category": "PIDE_HUMANO",
              "description": "Pide hablar explícitamente con el estilista, barbero, dueño o una persona directamente."
            },
            {
              "category": "DOMICILIO",
              "description": "El cliente pregunta explícitamente si ofrecen servicio a domicilio, si pueden ir a su casa,  si atienden fuera del local o solicita que el servicio se realice en su ubicación.  SOLO cuando menciona domicilio, casa, ubicación o que no puede ir al local."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -21312,
        -7440
      ],
      "id": "e8a865fe-e87e-407e-827d-ab9dd536a718",
      "name": "Text Classifier B"
    },
    {
      "parameters": {
        "inputText": "={{ $('Set Buffer Fields').item.json.message }}",
        "categories": {
          "categories": [
            {
              "category": "CITAS",
              "description": "El paciente quiere agendar, cancelar, consultar o modificar una cita. También incluye saludos, preguntas de precio, horario o disponibilidad. CATEGORÍA POR DEFECTO — cualquier mensaje que no encaje en otra categoría va aquí."
            },
            {
              "category": "URGENCIA",
              "description": "Situación que no puede esperar y requiere atención inmediata. Dolor intenso, sangrado, accidente, crisis de salud mental, emergencia médica. SOLO si es urgencia real."
            },
            {
              "category": "QUEJA",
              "description": "Insatisfacción explícita con el servicio, el trato recibido o el bot."
            },
            {
              "category": "PIDE_HUMANO",
              "description": "Pide hablar explícitamente con el doctor, la secretaria, el profesional o una persona."
            }
          ]
        },
        "options": {
          "multiClass": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -21312,
        -7792
      ],
      "id": "898c33c0-fd6e-42ad-a878-9e83a301ef98",
      "name": "Text Classifier S"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Business').first().json.notification_email }}",
        "subject": "=⚠️ Atención requerida — {{ $('Text Classifier S').item.json.category }} | NovTurnAI",
        "message": "=<h2>🦷 NovTurnAI — Intervención requerida</h2><p><strong>Situación detectada:</strong> {{ $('Text Classifier S').item.json.category }}</p><p><strong>Paciente:</strong> {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}</p><p><strong>Teléfono:</strong> +{{ $('Set Buffer Fields').item.json.phone }}</p><p><strong>Último mensaje:</strong><br/>{{ $('Set Buffer Fields').item.json.message }}</p><p><strong>Hora:</strong> {{ $now.setZone('America/Guatemala').toFormat(\"HH:mm 'del' dd/MM/yyyy\") }}</p><hr/><p>El bot está pausado para este paciente. Una vez que lo atiendas, reactiva el bot desde el dashboard de NovTurnAI.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20704,
        -7392
      ],
      "id": "52587815-478e-4030-86c0-40e34db8afa4",
      "name": "Gmail Notify",
      "webhookId": "7fb2bdb0-6f3f-44e7-88e9-e71cb5533f6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "iC2bk7Iun2ngyOW9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente de IA\n- Modelo: Google Gemini\n- Gestiona servicios: consulta catálogo antes de agendar\n- Gestiona turnos:\n  - Crear (con duración dinámica por servicio)\n  - Consultar\n  - Cancelar\n  - Modificar\n- mode=auto → agenda directo\n- mode=eval → agenda consulta previa\n- mode=human → deriva al doctor",
        "height": 288,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19248,
        -8656
      ],
      "id": "3bf57a64-5b41-4ed5-ba45-bcecf5a15dcd",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a473f84-57c5-401b-b07b-ca3e168e6042",
              "leftValue": "={{ $('Get Business').first().json.id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -27088,
        -7376
      ],
      "id": "deacbccd-603a-4de0-b3dd-65485a905466",
      "name": "If Business Phone Exists"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Get Business').first().json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Solo proceso mensajes de texto y audio por ahora. 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -26496,
        -7104
      ],
      "id": "8766422a-eb81-4b78-9c27-e28053aa3248",
      "name": "Send message err",
      "webhookId": "226d80cd-5f23-4e83-969a-b57bb5bd1d38",
      "credentials": {
        "whatsAppApi": {
          "id": "4OfxV7OuSSMmbwnp",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Get Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Get Patient Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add History": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set History Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Audio": {
      "main": [
        [
          {
            "node": "HTTP Request Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Message Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Edit Fields Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Message Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Message Buffer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message Buffer": {
      "main": [
        [
          {
            "node": "Sort Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Set Switch Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 3hs History": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger T": {
      "main": [
        [
          {
            "node": "Get Business T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments to Reminder T": {
      "main": [
        [
          {
            "node": "Send Template Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger F": {
      "main": [
        [
          {
            "node": "Get Business F",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminder Confirmation": {
      "main": [
        [
          {
            "node": "Send Message Reminder Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reminder Confirmation": {
      "main": [
        [
          {
            "node": "Update Reminder Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Buffering Ok": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response to Invalid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Simple Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments to Reminder F": {
      "main": [
        [
          {
            "node": "Update Cancel Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template Reminder": {
      "main": [
        [
          {
            "node": "Update Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User": {
      "main": [
        [
          {
            "node": "Add History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Takeover?": {
      "main": [
        [
          {
            "node": "Save Message Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier S",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Reminder": {
      "main": [
        [
          {
            "node": "Get Reminder Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Buffer": {
      "main": [
        [
          {
            "node": "Aggregate Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Buffer": {
      "main": [
        [
          {
            "node": "Set Buffer Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Fields": {
      "main": [
        [
          {
            "node": "If Buffering Ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Switch Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set History Format": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business": {
      "main": [
        [
          {
            "node": "If Business Phone Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Queja": {
      "main": [
        [
          {
            "node": "Gmail Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Pide Humano": {
      "main": [
        [
          {
            "node": "Gmail Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business T": {
      "main": [
        [
          {
            "node": "Get Appointments to Reminder T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business F": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Patient": {
      "main": [
        [
          {
            "node": "Create Patient Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Patient Phone": {
      "main": [
        [
          {
            "node": "Merge User",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Patient Data": {
      "main": [
        [
          {
            "node": "Human Takeover?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "They pay?": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Text Classifier S",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response Emergencia": {
      "main": [
        [
          {
            "node": "Gmail Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Domicilio": {
      "main": [
        [
          {
            "node": "Gmail Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "AI Agent Salud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Belleza",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Otro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Gemini1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Gemini2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Salud": {
      "main": [
        [
          {
            "node": "Response S",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Belleza": {
      "main": [
        [
          {
            "node": "Response B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Otro": {
      "main": [
        [
          {
            "node": "Response O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Day Appointments S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Services S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointment S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Appointment S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Appointment S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Day Appointments B": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Services B": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointment B": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Appointment B": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Appointment B": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Belleza",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Day Appointments O": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Services O": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointment O": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Appointment O": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Appointment O": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Otro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response O": {
      "main": [
        [
          {
            "node": "Add History Response O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response B": {
      "main": [
        [
          {
            "node": "Add History Response B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response S": {
      "main": [
        [
          {
            "node": "Add History Response S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier O",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Appointments to Reminder F",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cancel Appointment": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Response API Limit Range",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase Request API LR": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier O": {
      "main": [
        [
          {
            "node": "Get 3hs History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Emergencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Queja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Pide Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier B": {
      "main": [
        [
          {
            "node": "Get 3hs History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Emergencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Queja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Pide Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Domicilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier S": {
      "main": [
        [
          {
            "node": "Get 3hs History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Emergencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Queja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Pide Humano",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gmail Notify": {
      "main": [
        [
          {
            "node": "Activate Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Business Phone Exists": {
      "main": [
        [
          {
            "node": "They pay?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error O": {
      "main": [
        [
          {
            "node": "Add History Response O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error B": {
      "main": [
        [
          {
            "node": "Add History Response B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error S": {
      "main": [
        [
          {
            "node": "Add History Response S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Guatemala",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ccfaaacb-fbbe-451d-a440-c08fbb8a829f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53cc6ca6d340a342b857b70c6842381caa1e404c3b1f25dd65d1fb356ce1f25f"
  },
  "id": "1npQWgfgBBIwVuxX",
  "tags": []
}